<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/assets/css/test.css" />
  </head>
  <body>
    <header class="container topMain">
      <div class="headerContainer memberInfo">
        <a href="/login"><div class="infoItem">로그인</div></a>
        <div class="infoItem divider">|</div>
        <a href="/signUp"><div class="infoItem">회원가입</div></a>
        <div class="infoItem divider">|</div>
        <div class="infoItem">
          고객센터
          <div class="dropdownIcon"></div>
          <div class="topLayer">
            <a href="/myPage/notice"><div class="item">공지사항</div></a
            ><a href="/myPage/faq"><div class="item">FAQ</div></a
            ><a href="/myPage/inquiry"><div class="item">1:1 문의</div></a>
          </div>
        </div>
      </div>


      <div class="headerContainer">
        <div class="headerItem logo">
          <a href="/"
            ><img
              class="logoMain"
              srcset="
                ../../images/logo/logo_top.png    1x,
                ../../images/logo/logo_top@2x.png 2x,
                ../../images/logo/logo_top@3x.png 3x
              "
              alt="린미 홈으로 이동"
              loading="lazy"
          /></a>
        </div>
        <div class="headerItem toggle">
          <div class="sc-fAUdSK jOtPRK toggleContainer">
            <div class="sc-dntaoT dSHKkM toggleCover"></div>
            <div class="sc-ivxoEo nVSet toggleCircle"></div>
            <div class="sc-ghWlax gaPCQg toggleLabel">기능식품</div>
          </div>
        </div>

        
        <div class="headerItem search">
          <div class="searchContainer">
            <input
              type="text"
              class="searchKeywordInput"
              name="searchKeyword"
              placeholder="#눈건강 #뼈건강"
              readonly=""
              value=""
            />
            <div class="searchIcon">
              <img
                class=""
                srcset="
                  ../../images/top/search_pink.png    1x,
                  ../../images/top/search_pink@2x.png 2x,
                  ../../images/top/search_pink@3x.png 3x
                "
                alt="검색어를 입력하세요."
                loading="lazy"
              />
            </div>
          </div>
          <div class="layerSearchProduct">
            <div class="searchContainer">
              <input
                type="text"
                class="searchKeyword"
                placeholder="검색어를 입력하세요."
                value=""
              />
              <div class="searchIcon"></div>
            </div>
            <div class="recentlyKeyword">
              <div class="title">최근 검색어</div>
              <div class="removeAll">모두 지우기</div>
              <div class="recentlyKeywordContent">
                <div class="recentlyKeywordCover on">
                  <ul class="recentlyKeywordList">
                    <li class="recentlyKeywordItem">
                      <span>눈</span>
                      <div class="removeRecentlyKeyword"></div>
                    </li>
                    <li class="recentlyKeywordItem">
                      <span>피부</span>
                      <div class="removeRecentlyKeyword"></div>
                    </li>
                    <li class="recentlyKeywordItem">
                      <span>유산균</span>
                      <div class="removeRecentlyKeyword"></div>
                    </li>
                    <li class="recentlyKeywordItem">
                      <span>피부건강</span>
                      <div class="removeRecentlyKeyword"></div>
                    </li>
                    <li class="recentlyKeywordItem">
                      <span>비타민</span>
                      <div class="removeRecentlyKeyword"></div>
                    </li>
                    <li class="recentlyKeywordItem">
                      <span>[김오곤원장]한방다이어트유산균3.5gX90포</span>
                      <div class="removeRecentlyKeyword"></div>
                    </li>
                    <li class="recentlyKeywordItem">
                      <span>눈건강</span>
                      <div class="removeRecentlyKeyword"></div>
                    </li>
                  </ul>
                  <div class="listShowMore on">
                    <div>최근 검색어 펼쳐보기</div>
                  </div>
                  <div class="listShowClose"><div>최근 검색어 닫기</div></div>
                </div>
              </div>
            </div>







            <div class="popularKeyword">
              <div class="title">인기 검색어</div>
              <div class="dateBase">10월 31일 기준</div>
              <div class="popularKeywordContent">
                <ul class="popularKeywordList">
                  <li class="popularKeywordItem">유산균</li>
                  <li class="popularKeywordItem">피부건강</li>
                  <li class="popularKeywordItem">장건강</li>
                  <li class="popularKeywordItem">어린이비타민</li>
                  <li class="popularKeywordItem">다이어트</li>
                  <li class="popularKeywordItem">히알루론산</li>
                  <li class="popularKeywordItem">비타민</li>
                </ul>
              </div>
            </div>
            <div class="clickable closeLayer">닫기</div>
          </div>
        </div>
        <div class="headerItem icons">
          <div class="headerItemIcon myLinme false"></div>
          <div class="headerItemIcon myShopping false"></div>
          <div class="headerItemIcon cart false"></div>
          <div class="headerItemIcon notification undefined"></div>
        </div>
      </div>
      <div class="underHeaderContainer">
        <div class="categoryContainer">
          <div class="categoryIcon"></div>
          <div class="categoryLabel"></div>
        </div>
        <div class="headerItem navMenu">
          <a class="deactivate" href="/new">신상품</a
          ><a class="deactivate" href="/best">베스트</a
          ><a class="deactivate" href="/special">특가상품</a>
        </div>
        <div class="headerItem"></div>
      </div>
    </header>
  </body>
</html>
